h1 {
    color: rgb(251, 255, 127);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: rgb(101, 42, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* სელექტორი განსაზღვრავს, თუ რომელი HTML ელემენტები იქნება სტილირებული, კონკრეტული თეგისთვის.  */
/* დეკლარაცია განსაზღვრავს, თუ რომელი სტილი იქნება გამოყენებული სელექტორის მიერ შერჩეული ელემენტისთვის. */

/* Internal CSS 
 დადებითი:

ყველა სტილი ერთ ადგილზეა, რაც კარგია მცირე პროექტებისთვის.
უარყოფითი:

ვერ იყენებ იგივე სტილს სხვადასხვა გვერდებზე. */

/* External CSS
ექსტერნალ (External CSS)
CSS კოდი ცალკე ფაილში წერია და HTML დოკუმენტი მასთან <link> თეგით უკავშირდება:
დადებითი:

ყველა სტილი ერთ ფაილშია, რაც მარტივია მართვისთვის.
შეგიძლია გამოიყენო იგივე სტილი სხვადასხვა გვერდებზე. */