.outer-div {
    height: 700px;
    width: 1000px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div {
    height: 25%;
    width: 25%;
    background-color: red;
}