body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  .photo-list {
    list-style-type: none;
    padding: 0;
}
  
  .photo-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
  
  .photo-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}  