.p1 {
  font-family: Arial, sans-serif;
}

.p2 {
  font-family: "Times New Roman", Times, serif;
}

.p3 {
  font-family: "Courier New", Courier, monospace;
}

.p4 {
  font-family: Georgia, serif;
}

.p5 {
  font-family: Verdana, sans-serif;
}